* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    text-decoration: underline;
    color: blue;
    background-origin: padding-box;
    padding: 15px;
    background-color: yellow;
}

h4 {
    text-align: center;
    padding: 10px;
    font-size: 10.5rem;
    background-color: black;
    color: white;
}

button {
    background-color: red;
    color: aliceblue;
    width: 100px;
    height: 35px;
    font-weight: 600;
}